body{
    margin: 0;
    padding: 0;
    background-color: #aab0c9dc;
    font-family: Arial, Helvetica, sans-serif;
}
.section{
    background-color: #333A56;
    display: flex;
    margin-top: 50px;
    margin-left: 460px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 420px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a{
    /* text-decoration: none; */
    color: white;
}

h1{
    text-align: center;
    margin-bottom: 30px;
    color:white;
    font-weight: bold;
}

label{
    color: white;
}
#log{
    height: 35px;
    width: 342px;
    color: white;
    background-color: #5E6EA7;
}
#log:hover{
    color: rgba(255, 255, 255, 0.403);
}
#log:active{
    color: rgba(255, 255, 255, 0.403);
}
#log:focus{
    color: rgba(255, 255, 255, 0.403);
} 

input{
    height: 30px;
    width: 342px;
    margin-bottom: 15px;
    border-radius: 5px;
}
input:focus{
    outline: none;
}
svg{
    color:white;
    padding-bottom: 2px;
}

.forgot{
    color:white;
    text-align: center;
    font-size: 13px;
}
.rightreserved{
    color:white;
    text-align: center;
    font-size: 13px;

}